APP_BUNDLE_ID = @@APP_BUNDLE_ID@@
ICLOUD_CONTAINER_IDENTIFIER = @@ICLOUD_CONTAINER_IDENTIFIER@@
DEVELOPMENT_TEAM = @@DEVELOPMENT_TEAM@@
SIGNING_CERTIFICATE = @@CODE_SIGN_IDENTITY@@
PROVISIONING_PROFILE_SPECIFIER = @@PROVISIONING_PROFILE_SPECIFIER@@
MARKETING_VERSION = @@MARKETING_VERSION@@
CURRENT_PROJECT_VERSION = @@CURRENT_PROJECT_VERSION@@
SPARKLE_FEED_URL = @@SPARKLE_FEED_URL@@
SPARKLE_PUBLIC_ED_KEY = @@SPARKLE_PUBLIC_ED_KEY@@
DMG_SIGN_IDENTITY = @@DMG_SIGN_IDENTITY@@
