APP_BUNDLE_ID = io.goodkind.stickies-improved
ICLOUD_CONTAINER_IDENTIFIER = H3BMXM4W7H.io.goodkind.stickies-improved
DEVELOPMENT_TEAM = H3BMXM4W7H
SIGNING_CERTIFICATE = Developer ID Application: Alex Goodkind (H3BMXM4W7H)
PROVISIONING_PROFILE_SPECIFIER = StickiesImproved Developer ID
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
SPARKLE_FEED_URL = https:/$()/goodkind.io/stickies-improved/appcast.xml
SPARKLE_PUBLIC_ED_KEY =
DMG_SIGN_IDENTITY = D5C4379AC19518586D56277260BBA0F80E0169E6
#include? "local.override.xcconfig"
